{% extends './shared/_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Dashboard
{% endblock title %}

{% block page_title %}
Dashboard
{% endblock page_title %}

{% block content %}
<div class="container mx-auto mt-6 px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <a href="{% url 'admin:user-list' %}"
            class="bg-gray-700 p-6 rounded-lg shadow flex items-center space-x-4 hover:bg-gray-500">
            <i class="ti ti-users text-blue-500 text-3xl"></i>
            <span class="text-lg font-semibold">View All Users</span>
        </a>
        <a href="{% url 'admin:plan-list' %}"
            class="bg-gray-700 p-6 rounded-lg shadow flex items-center space-x-4 hover:bg-gray-500">
            <i class="ti ti-briefcase text-green-500 text-3xl"></i>
            <span class="text-lg font-semibold">Manage Plans</span>
        </a>
        <a href="{% url 'admin:investment-list' %}"
            class="bg-gray-700 p-6 rounded-lg shadow flex items-center space-x-4 hover:bg-gray-500">
            <i class="ti ti-briefcase text-green-500 text-3xl"></i>
            <span class="text-lg font-semibold">Manage Investments</span>
        </a>
        <a href="{% url 'admin:investment-list' %}"
            class="bg-gray-700 p-6 rounded-lg shadow flex items-center space-x-4 hover:bg-gray-500">
            <i class="ti ti-axe text-green-500 text-3xl"></i>
            <span class="text-lg font-semibold">Manage Minings</span>
        </a>
        <a href="{% url 'admin:wallet-list' %}"
            class="bg-gray-700 p-6 rounded-lg shadow flex items-center space-x-4 hover:bg-gray-500">
            <i class="ti ti-wallet text-yellow-500 text-3xl"></i>
            <span class="text-lg font-semibold">Manage Wallets</span>
        </a>
        <a href="{% url 'admin:transaction-list' %}"
            class="bg-gray-700 p-6 rounded-lg shadow flex items-center space-x-4 hover:bg-gray-500">
            <i class="ti ti-exchange text-purple-500 text-3xl"></i>
            <span class="text-lg font-semibold">View Transactions</span>
        </a>
        <a href="{% url 'admin:deposit-method-list' %}"
            class="bg-gray-700 p-6 rounded-lg shadow flex items-center space-x-4 hover:bg-gray-500">
            <i class="ti ti-credit-card text-red-500 text-3xl"></i>
            <span class="text-lg font-semibold">Deposit Methods</span>
        </a>
    </div>
</div>
{% endblock content %}